/* Very large */
@media (min-width: 1600px) {
    .bg-top_img {
        min-height: 1710px;
    }
}


/* PC */
@media (min-width: 64em) {
    
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {

    .form-message_div-outside_half-square {
        display: none;
    }

    .form-message_div-outside_circle {
        display: none;
    }

    .form-message_div-outside {
        align-items: center;
    }
    
    .form-message_div-outside > * {
        margin-left: unset;
    }

    .form-message {
        width: 100%;
    }

    .contac-background-img_posison2 {
        display: none;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

/* Mobile */
@media (max-width: 46.1875em) {
    
}