.form-message_div-outside {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: -160px;
}

.form-message_div-outside > * {
    margin-left: auto;
}

.form-message {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    width: 50%;
    border-radius: 6px;
    padding: 100px 70px 100px 70px;
}

.form-message label {
    font-size: 18px;
    font-weight: 700;
    color: rgba(116, 111, 111, 1);
}

.form-message_item {
    display: flex;
    flex-direction: column;
}

.form-message input {
    border: none;
    border-bottom: 1px solid #999;
}

.form-message_item_has-textarea label {
    color: rgba(0, 97, 176, 1);
    font-size: 18px;
    font-weight: 700;
}

.form-message_item_has-textarea textarea {
    background: rgba(51, 163, 255, 0.2);
    border: none;
}

.form-message button {
    background: linear-gradient(0deg, #0061B0, #0061B0),
    linear-gradient(89.93deg, #0061B0 0.05%, #016DC6 47.39%, #048BFA 99.93%);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    width: 170px;
    height: 44px;
    border: none;
}

.form-message_div-outside .message-for-maiatech {
    width: 40%;
    margin-top: 36px;
}

.form-message_div-outside .form-message p {
    font-size: 18px;
    font-weight: 400;
}

.form-message_div-outside p span {
    font-size: 18px;
    font-weight: 700;
}