/* PC */
@media (min-width: 64em) {
    
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .form-message_div-outside {
        align-items: center;
    }
    
    .form-message_div-outside > * {
        margin-left: unset;
    }

    .form-message {
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

/* Mobile */
@media (max-width: 46.1875em) {
    
}